@media screen and (min-width: 500px) and (max-width: 767px) {
  .row {
    display: block;
    margin: 0 auto;
    margin-left: 10%;
    /* margin-right: 10%; */
  }

  .col-xl-8 #goals {
    width: 68%;
    margin-bottom: -30px;
  }

  .col-xl-8 #team {
    width: 97.7%;
    margin-left: 0px;
  }

  .col-xl-8 #scopes {
    width: 68%;
    margin-bottom: -30px;
  }

  .col-xl-8 #primary {
    width: 97.7%;
    margin-left: 30px;
    margin-bottom: -30px;
  }

  .col-xl-4 #timeline {
    width: 75.5%;
    /* margin-left: 60px; */
    margin-bottom: 30px;
  }

  .card {
    display: flex;
    flex-direction: column;
  }

  #goals .card div:first-child,
  #team .card div:first-child,
  #primary .card div:first-child {
    justify-content: center;
  }

  #primary .card div.content {
    display: flex;
    justify-content: left;
  }

  .gote .col-xl-4 {
    margin-right: 0;
    margin-left: 0;
  }
}
